@font-face {
    font-family: 'Roboto';
    src:
        local('Roboto'),
        url('../fonts/Roboto-Regular.eot?') format('eot'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
